@page "/AddRisk"
@inject RiskService riskService
@inject NavigationManager NavigationManager

<h2>Add Risk</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.RiskName" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@obj.RiskCategory" class="form-control">
                    <option value="">-Select Category</option>
                    <option value="Male">Fire</option>
                    <option value="Female">Water</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateRisk" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</form>

@code {
    RiskEntity obj = new RiskEntity();
    protected async void CreateRisk()
    {
        await riskService.InsertRiskAsync(obj);
        NavigationManager.NavigateTo("Risks");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Risks");
    }
}